// Define variables for your color scheme

// For example:
$green: #607466;
$dark-green: #2d3831;
$light-green: #aedcc0;
$grey: #d7e0db;
$dark-grey: #262927;
$light-grey: #dde2de;
$light-grey-transparency: #dde2dea1;

