// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins:wght@600&display=swap');
// Define fonts for body and headers
$body-font: "Manrope", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

* {
  font-family: $body-font;
  font-size: 16px;
}


h1, h2 {
  font-family: $headers-font;
  font-size: 32px;
}
