.button-light {
  background-color: $light-grey;
  color: $dark-grey;
  border: 4px $grey solid;
  ;
}

button {
  width: 146px;
  border-radius: 8px;
  min-height: 48px;

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  &:hover {
    border: 2px $dark-grey solid;
  }
}

.edit-button {
  padding: 10px 20px;
  background-color: $dark-green;
  border-radius: 5px;
  color: white;
  text-decoration: none;

  i {
    color: white;
    margin-top: 2px;
  }
}
